bin/
obj/
.vs/
*.user
*.suo
Release/
GameData/GroundBlastFx/Plugins/*.dll
GameData/GroundBlastFx/Plugins/*.pdb
GameData/GroundBlastFx/PluginData/Settings.cfg
GameData/GroundBlastFx/PluginData/LaunchSites_user.cfg
GameData/GroundBlastFx/PluginData/GroundBlastFx.log
GameData/GroundBlastFx/PluginData/DevAutomation.cfg
GameData/GroundBlastFx/PluginData/Captures/
UnityProject/Library/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/obj/
UnityProject/UserSettings/
UnityProject/Build/
UnityProject/Assets/Editor/Shared/
UnityProject/Assets/Editor/Shared.meta
UnityProject/Assets/GroundBlastFx/Noise128.asset
UnityProject/Assets/GroundBlastFx/Noise128.asset.meta
Tools/render-tests/out/
Tools/render-tests/out-monitor/
